<!DOCTYPE html>
<html>
  <head>
    <title>Celluscape</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <h1> Testing JScript </h1>
    <button id="greet-user-button">Hello!</button>
    <%= javascript_pack_tag 'hello' %>
  </body>
</html>
